<h2><%= @memo["title"] %></h2>
<p><%= @memo["content"] %></p>
<a href="/memos/<%= @id %>/edit"><button>変更</button></a>
<form action="/memos/<%= @id %>" method="post">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" value="削除">
</form>
