<h2><%== @memo[0]["title"] %></h2>
<p><%== @memo[0]["content"] %></p>
<a href="/memos/<%= params[:id] %>/edit">変更する</a>
<form action="/memos/<%= params[:id] %>" method="post">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" value="削除">
</form>
<a href="/memos">一覧に戻る</a>
